html body {
    background-color: rgba(206, 208, 200);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


}


.navbar {
background-color: #E2E3DE;
color: #000000;

}

.navbar a {
    color: #000000;
    font-size: 20px;
    padding-right: 10px;

    
}

.navbar-brand {
    font-size: 3.25rem;     
    padding: 0 50px;
    text-align: right;
    font-size: xx-large;
    margin: 0px;
    letter-spacing: 10px;
    
}

.brand-item {
font-size: 24px;
}


.nav-link {
    padding-right: 15px;
}

.navbar-nav > li{
    padding-left:30px;
    padding-right:30px;
  }

.contact-item {
border: 3px solid black;
}

/* Jumbotron section */

.jumbotron {
    background: url("../images/background-jumbotron2.jpg");
    height: 800px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
       
}   






/* ABOUT ME SECTION */

#about {  
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 2%;
  padding: 0 120px;

  
}

.about-content h2 {
  /* border-bottom: solid 3px black; */
  text-align: center;
  margin: 40px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";


}

.about-content h2:before {
 
}


/* Footer section */
#footer-section {
  display: flex;
  flex-direction: column;
  /* flex-wrap: nowrap; */
  height: 150px;
  background-color: #ffffff;
}

.contact-left {
  display: flex;
  flex-direction: row; 
  justify-content: flex-start;
  padding-right: 3%;
  font-size: 20px;
  
}
.contact-right {
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  padding-right: 3%;
  font-size: 20px;
  
}

.contact-left p {
  text-decoration: none;
  padding-right: 3%;
  font-size: 20px;
}


.contact-right p {
  text-decoration: none;
  padding-right: 3%;
  font-size: 20px;
  padding-left: 3%;
}


footer a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#000111; 
  text-decoration:none; 
  cursor:pointer;  
}

.skills-resume {
  border: 3px solid black;
  
}







/* skills section */
#skills {
  display: flex;
  flex-direction: row;
  margin: 40px;
  
}

#skills h2 {
  text-align: center;
}

.web-developmen, .customer-service, .problem-solving {
padding: 2%;

}

.fa-check, .fa-thumbs-up, .fa-mobile {
 color: white; 
 
}

#footer-section i {
  vertical-align: middle;
  padding: 3%;
  
}

.fa-2xl {
  font-size: 3em;
 
}
#skills h2 {
  padding-top: 20px;
}

