html body {
  background-color: rgba(206, 208, 200);
  font-family: "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}




/************* Navbar section ***********/
.navbar {
  background-color: #e2e3de;
  color: #000000;
  border-top: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;
}

.navbar a {
  color: #000000;
  font-size: 20px;
  padding-right: 10px;
}

.navbar-brand {
  font-size: 3.25rem;
  padding: 0 50px;
  text-align: right;
  font-size: xx-large;
  margin: 0px;
  letter-spacing: 10px;
}

.brand-item {
  font-size: 24px;
}

.nav-link {
  padding-right: 15px;
}

.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}

.contact-item {
  border: 3px solid black;
}

/* Jumbotron section */

.jumbotron {
  background: url("../images/background-jumbotron2.jpg");
  height: 900px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  border-bottom: 10px solid white;
  border-left: 10px solid white;
  border-right: 10px solid white;

}
.jumbotron-text {
  margin-top:10%; 
  margin-left: 5%;
  position: relative;
 
}

.button-jumbo {
  position: absolute;
  top: 52%;
  right: 75%;
}


/* work section */

#work {
  margin: 60px;
  padding: 40px 0;
}

.card-title {
  margin-bottom: 0.75rem;
  text-align: center;
  padding-top: 10%;
}

.card-text {
  text-align: center;
  padding-bottom: 7%;
}


.work-title {
  text-align: center;
  padding-bottom: 3%;
}

.image-card {
overflow: hidden;
}

.image-card img {
  object-fit: cover;
  transition: 400ms;
}

.image-card:hover img {
  transform: scale(1.2);
}

.card-padding {
  padding-top: 2.5%
}



/* ABOUT ME SECTION */

#about {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 1%;
  padding: 0 120px;
}

.about-content h2 {
  text-align: center;
  margin: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.about-content h2:before {
}


/* skills section */
#skills {
  display: flex;
  flex-direction: row;
  margin: 40px;
  padding: 40px 0;
}

#skills h2 {
  text-align: center;
}

.web-development,
.customer-service,
.problem-solving {
  padding: 2%;
}

.fa-check,
.fa-thumbs-up,
.fa-mobile {
  color: white;
}

#footer-section i {
  vertical-align: middle;
  padding: 3%;
}

.fa-2xl {
  font-size: 3em;
}
#skills h2 {
  padding-top: 20px;
}

.skills-h2 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}

/* Footer section */
#footer-section {
  height: 150px;
  background-color: #ffffff;
 
}


.col-lg-4 {
  width: 13%;
}

.contact-left {
}
  
.contact-right {
 
  
}

.contact-left p {
 
}

.contact-right p {
  

}

.skills-resume {
  border: 3px solid black;
}


